.sectionMoviesList {
  display: flex;
  justify-content: center;

  .moviesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 48px;
    row-gap: 48px;
    width: 100%;
    padding: 8px;
  }
}
