@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  background-color: $secondary-color;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  box-shadow: $box-shadow-primary;
}

.contentContainer {
  padding: 0 24px;
  display: flex;
  align-items: center;
  width: 100%;
}
.navbarContent {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;

  .logoImg {
    height: px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-transform: uppercase;
    color: $light-color;
    border: 3px solid $light-color;
    font-weight: bold;
    font-family: $title-font;
    border-radius: 20px;
    @include font-size-16;
  }
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  a.link {
    @include font-size-14;
    font-family: $title-font;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    margin-left: 50px;
    padding: 5px;
  }

  .active {
    border-bottom: solid 2px $primary-color;
  }

  .logoutBtn {
    border: none;
    background-color: $accent-color;
    border-radius: 4px;
    padding: 6px 16px;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
  }
}
