$main-bg: #232931;
$white: #fff;
$black: #000;

$primary-color: #222831;
$secondary-color: #393e46;
$accent-color: #00adb5;
$light-color: #eeeeee;

$box-shadow-primary: 0px 0px 6px 4px #00aab380;

$text-shadow-primary: 0px 0px 6px $accent-color;

$primary-light-color: #393e4680;

$light-gray: #e5e5e5;
$medium-gray: rgba(0, 0, 0, 0.48);
$dark-gray: rgba(0, 0, 0, 0.74);

$font-color: $dark-gray;

$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;
